.card{
    display: flex;
    align-items: center;
    margin: 15px;

}

.deksArea{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.weight{
    color: maroon; 
    font-weight: 600;
}

.type{
    font-weight: 1000;
}
